soap/suti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/web2/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/web2/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/web2/soap/">
      <xsd:complexType name="Sutik">
        <xsd:all>
          <xsd:element name="sutik" type="tns:SutiArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Suti">
        <xsd:all>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="dijazott" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="mentes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="egyseg" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ertek" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMentesSutikRequest">
    <wsdl:part name="allergen" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMentesSutikResponse">
    <wsdl:part name="getMentesSutikReturn" type="tns:Sutik"/>
  </wsdl:message>
  <wsdl:portType name="SutiInterfacePortType">
    <wsdl:operation name="getMentesSutik">
      <wsdl:documentation/>
      <wsdl:input message="tns:getMentesSutikRequest"/>
      <wsdl:output message="tns:getMentesSutikResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SutiInterfaceBinding" type="tns:SutiInterfacePortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMentesSutik">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/web2/soap/server.php?method=getMentesSutik" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SutiInterface">
    <wsdl:documentation/>
    <wsdl:port name="SutiInterfacePort" binding="tns:SutiInterfaceBinding">
      <soap-env:address location="http://localhost/web2/soap/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
